@charset "UTF-8";

/*
    Paleta de cores
    Verde: #00FF18
    Laranja: #f86f14

*/



/*Gerais*/
    :root {
        --cor1: #08661d;
        --cor2: #ff7300;
    }

    * {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html, body {
        width: 100%;
        background-color: lightgray;
    }


    body {
        background-color: black; /*Cor de fundo, só aparece caso demore carregar a imagem abaixo*/
        background-image: url('../imagens/atacadao.jpeg'); /*Não é uma imagem do conteúdo, apenas de fundo*/
        background-position: center center; /*Posicionando de onde fica o foco na imagem - Coluna Linha*/
        background-repeat: no-repeat; /*Repetição da imagem caso ela não ocupe o espaço inteiro*/
        background-size: cover; /*Força imagem ocupar o espaço inteiro da página*/
        background-attachment: fixed; /*Trava a imagem no lugar, rola apenas o conteúdo mas não a imagem*/
    }

/*Fim Gerais*/

/*Header*/
    header {
        position: absolute;
        width: 100vw;
        background-color: rgb(150, 150, 150);
    }
    
    span#burguer {
        background-color: rgb(48, 48, 48);
        color: white;
        display: block;
        text-align: center;
        padding: 10px;
        cursor: pointer;
    }
    
    span#burguer:hover {
        background-color: white;
        color: black;
    }
    
    menu#itens {
        display: none;
    }
    
    menu#itens > ul {
        list-style-type: none;
    }
    
    menu#itens > ul > li > a {
        display: block;
        padding: 10px;
        text-decoration: none;
        text-align: center;
        background-color: rgba(87, 87, 87);
        color: white;
        border-top: 2px solid gray;
    }
    
    menu#itens > ul > li > a:hover {
        background-color: gray;
    }
    
/*Fim Header*/

/*Main*/
    main.index {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main.index > a.setor {
        width: 300px;
        margin: 20px auto;
        background-color: var(--cor2);
        text-decoration: none;
        text-align: center;
        line-height: 50px;
        font-size: 1.2em;
        color: white;
        text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.5); ;
        border-radius: 15px;
        box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5);
        transition: font-size .3s, transform .3s;
    }

    main.index > a.setor:hover {
        background-color: var(--cor1);
        font-size: 1.4em;
        box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
        transform: scale(1.05) translate(3px, -3px);
        transition: font-size .3s, transform .3s;
    }

    main.setor {
        display: flex;
    }

    section#lateral {
        display: none;
    }
    
    section#manuais {
        display: flex;
        width: 100%;
        margin-top: 44px;
    }

    section#manuais > iframe#tela {
        width: 100%;
        height: calc(100vh - 44px);
        background-color: rgba(255, 255, 255, 0.6);
        border: 2px solid black;
    }

    
/*Fim Main*/